body{
  background-color: whitesmoke;
}

.user-card{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.pic{
  object-fit: cover;
}


.btn{
  display: flex;
  justify-content: space-between;
}

.user-info{
  display: flex;
  justify-content: center;
}

.add-user{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-bottom: 20px;
  padding: 50px;
}